$dark: #101018;
$dark-grey: #282837;
$navy: #1D1D30;
$light-navy: #232338;
$light-grey: #CBCBCB;
$gradient-blue: #2867FF;
$gradient-light-blue: #529CFF;
$gradient-orange: #FF6C44;
$gradient-light-orange: #FBB13E;
$gradient-gold: #C6A156;
$gradient-light-gold: #FFD978;
$gradient-dark-gold: #B88C3D;
$gradient-green: #206730;
$gradient-light-green: #31bf48;
$pink: #ED49C3;
// $kimberly: #7474AD; // OLD
$kimberly: #A2A2CD;
$kimberly-dark: #707091;
$kimberly-light: #b3b3e4;
$emerald: #50D157;
$blue: #0D7EE8;
$dark-blue: #094E8F;
$orange: #FF682E;
$red: #FF3636;
$lb-rank-1: #10101A;
$lb-rank-2: #13131E;
$lb-rank-3: #171725;
$lb-rank-4: #1D1D2F;
$lb-rank-5: #171725;
$lb-rank-6: #13131E;
$lb-rank-7: #10101A;
$lb-rank-8: #13131E;
$lb-rank-9: #10101A;
$lb-rank-10: #13131E;
$lb-rank-running-1: #174623;
$lb-rank-running-2: #206730;
$lb-rank-running-3: #1d562b;
$lb-rank-running-4: #247935;
$lb-rank-running-5: #206730;
$lb-rank-running-6: #1d562b;
$lb-rank-running-7: #174623;
$lb-rank-running-8: #1d562b;
$lb-rank-running-9: #174623;
$lb-rank-running-10: #1d562b;
$lb-progress-8: #31bf48;
$lb-progress-7: #2ead43;
$lb-progress-6: #2a9c3e;
$lb-progress-5: #278a3a;
$lb-progress-4: #247935;
$lb-progress-3: #206730;
$lb-progress-2: #1d562b;
$lb-progress-1: #174623;
$orange-gradient: linear-gradient(to bottom, $gradient-orange 0%, $gradient-light-orange 100%);
$orange-gradient-horizontal: linear-gradient(to right, $gradient-orange 0%, $gradient-light-orange 100%);
$orange-gradient-vertical: linear-gradient(to bottom, #fc8666 0%, $gradient-light-orange 100%);
$orange-gradient-diagonal-double: linear-gradient(to bottom right, #fc8666 0%, $gradient-light-orange 50%, #fc8666 100%);
$silver-gradient-vertical: linear-gradient(to bottom, #b1bfd8 0%, #6782b4 74%);
$silver-gradient-diagonal: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%);
$silver-gradient-diagonal-double: linear-gradient(to bottom right, #6782b4 0%, #c6d2e7 50%, #6782b4 100%);
$gold-gradient-diagonal: linear-gradient(to bottom right, $gradient-gold 0%, $gradient-light-gold 50%, $gradient-dark-gold 100%);
$gold-gradient-diagonal-reversed: linear-gradient(to bottom right, $gradient-light-gold 0%, $gradient-gold 50%, $gradient-light-gold 100%);
$gold-gradient-vertical: linear-gradient(to bottom, $gradient-light-gold 0%, $gradient-dark-gold 100%);
$grey-gradient-vertical: linear-gradient(to bottom, #6E6E6E 0%, #969696 100%);
$light-grey-gradient-vertical: linear-gradient(to bottom, #E7E7E7 0%, #C6C6C6 100%);
$red-gradient-vertical: linear-gradient(to bottom, #FF3046 0%, #AC2636 100%);
$blue-gradient: linear-gradient(to bottom, $gradient-blue 0%, $gradient-light-blue 100%);
$blue-gradient-horizontal: linear-gradient(to right, $gradient-blue 0%, $gradient-light-blue 100%);
$blue-gradient-vertical: linear-gradient(to bottom, #5182c1 0%, #2e509b 100%);
$blue-gradient-diagonal: linear-gradient(to top left, #5182c1 0%, #2e509b 65%);
$blue-gradient-diagonal-reversed: linear-gradient(to top left, #2e509b 0%, #5182c1 65%);
$blue-gradient-diagonal-double: linear-gradient(to bottom right, #2e509b 0%, #5182c1 50%, #2e509b 100%);
$light-blue-gradient-diagonal-double: linear-gradient(to bottom right, #2e509b 0%, #9cbbe2 50%, #112858 100%);
$pink-gradient-diagonal-double: linear-gradient(to bottom right, $pink 0%, #eb75cd 50%, $pink 100%);
$green-gradient-horizontal: linear-gradient(to right, $gradient-green 0%, $gradient-light-green 100%);
$light-navy-to-dark-vertical-gradient: linear-gradient(210deg, $navy 0%, $dark 65%);
